@font-face {
  font-family: 'DungGeunMo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'galmuri';
  src: url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');
}

html,
body,
pre,
code,
kbd,
samp {
  font-family: 'DungGeunMo';
}

@tailwind base;
@tailwind components;
@tailwind utilities;
